body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: blue;
}
form{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}
